<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Chavruta Finder, <%= @user.name %></h1>
    <p>You have successfully signed up to ChavrutaFinder.com.</p>

    <br>

    <p>A random password has been assigned to your account. To change it, just follow this link: <%= @url %>.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
